USE [master]
GO
/****** Object:  Database [ESCE1]    Script Date: 12/7/2025 8:57:01 PM ******/
CREATE DATABASE [ESCE1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESCE1', FILENAME = N'E:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESCE1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESCE1_log', FILENAME = N'E:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESCE1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESCE1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESCE1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD_HASH] [varchar](500) NOT NULL,
	[PASSWORD] [varchar](32) NULL,
	[AVATAR] [nvarchar](max) NULL,
	[PHONE] [varchar](10) NULL,
	[DOB] [date] NULL,
	[GENDER] [nvarchar](10) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[ROLE_ID] [int] NOT NULL,
	[IS_BANNED] [bit] NOT NULL,
	[Level] [int] NOT NULL,
	[TotalSpent] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AGENCIE_CERTIFICATES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENCIE_CERTIFICATES](
	[AGENCY_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[COMPANYNAME] [nvarchar](255) NOT NULL,
	[LICENSE_FILE] [nvarchar](500) NOT NULL,
	[PHONE] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[WEBSITE] [nvarchar](255) NULL,
	[STATUS] [nvarchar](50) NULL,
	[REJECT_COMMENT] [nvarchar](1000) NULL,
	[REVIEW_COMMENTS] [nvarchar](1000) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__AGENCIE___95C546DB5FDFFD15] PRIMARY KEY CLUSTERED 
(
	[AGENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_COUPONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_COUPONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[COUPON_ID] [int] NOT NULL,
	[APPLIED_AT] [datetime] NULL,
 CONSTRAINT [PK_BOOKING_COUPONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[BOOKING_NUMBER] [varchar](50) NOT NULL,
	[COMBO_ID] [int] NULL,
	[SERVICE_ID] [int] NULL,
	[QUANTITY] [int] NOT NULL,
	[UNIT_PRICE] [decimal](18, 2) NOT NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NOT NULL,
	[ITEM_TYPE] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[NOTES] [nvarchar](1000) NULL,
	[BOOKING_DATE] [datetime] NOT NULL,
	[CONFIRMED_DATE] [datetime] NULL,
	[COMPLETED_DATE] [datetime] NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_BOOKINGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTREACTIONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTREACTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CommentId] [int] NOT NULL,
	[ReactionTypeId] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_COMMENTREACTIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POST_ID] [int] NOT NULL,
	[AUTHOR_ID] [int] NOT NULL,
	[PARENT_COMMENT_ID] [int] NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[IMAGE] [nvarchar](max) NULL,
	[UPDATED_AT] [datetime] NULL,
	[REACTIONS_COUNT] [int] NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
 CONSTRAINT [PK_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUPONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUPONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[DISCOUNT_PERCENT] [decimal](5, 2) NULL,
	[DISCOUNT_AMOUNT] [decimal](18, 2) NULL,
	[USAGE_LIMIT] [int] NOT NULL,
	[USAGE_COUNT] [int] NULL,
	[HOST_ID] [int] NOT NULL,
	[SERVICECOMBO_ID] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[EXPIRY_DATE] [datetime] NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[RequiredLevel] [int] NOT NULL,
 CONSTRAINT [PK_COUPONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOST_CERTIFICATES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST_CERTIFICATES](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[HOST_ID] [int] NOT NULL,
	[BUSINESS_LICENSE_FILE] [nvarchar](500) NOT NULL,
	[BUSINESS_NAME] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
	[REJECT_COMMENT] [nvarchar](1000) NULL,
	[REVIEW_COMMENTS] [nvarchar](1000) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__HOST_CER__BBF8A7C1722F012C] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SENDER_ID] [int] NOT NULL,
	[RECEIVER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](2000) NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[IS_READ] [bit] NULL,
 CONSTRAINT [PK_MESSAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[NEWS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[NEWS_TITLE] [nvarchar](255) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[IMAGE] [nvarchar](max) NULL,
	[SOCIAL_MEDIA_LINK] [nvarchar](500) NULL,
 CONSTRAINT [PK_NEWS] PRIMARY KEY CLUSTERED 
(
	[NEWS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[MESSAGE] [nvarchar](500) NULL,
	[IS_READ] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
	[TITLE] [nvarchar](255) NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTP]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[CODE] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[EXPIRATION_TIME] [datetime] NOT NULL,
	[IS_VERIFIED] [bit] NULL,
	[CREATED_AT] [datetime] NULL,
 CONSTRAINT [PK_OTP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NULL,
	[AMOUNT] [decimal](18, 2) NOT NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[METHOD] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
	[TransactionId] [varchar](50) NULL,
	[PAYMENT_TYPE] [nvarchar](max) NULL,
	[UPGRADE_TYPE] [nvarchar](max) NULL,
	[USER_ID] [int] NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTREACTIONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTREACTIONS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[ReactionTypeId] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_POSTREACTIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NOT NULL,
	[CONTENT] [nvarchar](max) NOT NULL,
	[AUTHOR_ID] [int] NOT NULL,
	[IMAGE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[REJECT_COMMENT] [nvarchar](1000) NULL,
	[REVIEW_COMMENTS] [nvarchar](1000) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[COMMENTS_COUNT] [int] NOT NULL,
	[REACTIONS_COUNT] [int] NOT NULL,
	[SAVES_COUNT] [int] NOT NULL,
 CONSTRAINT [PK_POSTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTSAVES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTSAVES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[SavedAt] [datetime] NULL,
 CONSTRAINT [PK_POSTSAVES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REACTION_TYPES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REACTION_TYPES](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_REACTION_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REACTIONS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TARGET_TYPE] [nvarchar](20) NOT NULL,
	[TARGET_ID] [int] NOT NULL,
	[REACTION_TYPE] [nvarchar](20) NOT NULL,
	[CREATED_AT] [datetime] NULL,
 CONSTRAINT [PK_REACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST_SUPPORTS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_SUPPORTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[COMBO_ID] [int] NULL,
	[SUPPORT_TYPE] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](1000) NOT NULL,
	[IMAGE] [varchar](255) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK_REQUEST_SUPPORTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[RATING] [int] NOT NULL,
	[COMMENT] [nvarchar](1000) NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REVIEWS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[HOST_ID] [int] NOT NULL,
	[CREATED_AT] [datetime] NULL,
	[UPDATED_AT] [datetime] NULL,
	[Images] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[RejectComment] [nvarchar](max) NULL,
	[ReviewComments] [nvarchar](max) NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICECOMBO]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICECOMBO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[AVAILABLE_SLOTS] [int] NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[CANCELLATION_POLICY] [nvarchar](1000) NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NOT NULL,
	[HOST_ID] [int] NOT NULL,
 CONSTRAINT [PK_SERVICECOMBO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICECOMBO_DETAIL]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICECOMBO_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICECOMBO_ID] [int] NOT NULL,
	[SERVICE_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_SERVICECOMBO_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_RESPONSES]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_RESPONSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPORT_ID] [int] NOT NULL,
	[RESPONDER_ID] [int] NOT NULL,
	[CONTENT] [nvarchar](1000) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[CREATED_AT] [datetime] NULL,
 CONSTRAINT [PK_SUPPORT_RESPONSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_LOGS]    Script Date: 12/7/2025 8:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_LOGS](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOG_LEVEL] [nvarchar](50) NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[STACK_TRACE] [nvarchar](max) NULL,
	[CREATED_AT] [datetime] NULL,
	[USER_ID] [int] NULL,
	[MODULE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SYSTEM_LOGS] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251201152119_InitialSetupClean', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251206102558_InitialCreate', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251206110048_AddTotalSpentColumn', N'6.0.36')
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([ID], [NAME], [EMAIL], [PASSWORD_HASH], [PASSWORD], [AVATAR], [PHONE], [DOB], [GENDER], [ADDRESS], [IS_ACTIVE], [CREATED_AT], [UPDATED_AT], [ROLE_ID], [IS_BANNED], [Level], [TotalSpent]) VALUES (1, N'System Admin', N'admin@gmail.com', N'$2a$11$iP./l5rCVwcls01SI2J8aeSc9mYZBM9LqzDKAHlA4HRZ0gP5lMzn.', NULL, NULL, N'123456789', NULL, NULL, NULL, 1, CAST(N'2025-12-01T15:41:34.380' AS DateTime), CAST(N'2025-12-01T15:41:34.380' AS DateTime), 1, 0, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ACCOUNTS] ([ID], [NAME], [EMAIL], [PASSWORD_HASH], [PASSWORD], [AVATAR], [PHONE], [DOB], [GENDER], [ADDRESS], [IS_ACTIVE], [CREATED_AT], [UPDATED_AT], [ROLE_ID], [IS_BANNED], [Level], [TotalSpent]) VALUES (2, N'king123', N'lehoang28062001@gmail.com', N'$2a$11$nGPIvLjPgqXQ8CAGTZMz7uCK6mKDdl2Qxa48p3kyfZ8Kpyp02kPKy', NULL, N'string', N'0393209437', CAST(N'1990-12-31' AS Date), N'male', N'123 đà nẵng', 0, CAST(N'2025-12-02T10:52:51.730' AS DateTime), CAST(N'2025-12-03T03:25:55.523' AS DateTime), 3, 0, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ACCOUNTS] ([ID], [NAME], [EMAIL], [PASSWORD_HASH], [PASSWORD], [AVATAR], [PHONE], [DOB], [GENDER], [ADDRESS], [IS_ACTIVE], [CREATED_AT], [UPDATED_AT], [ROLE_ID], [IS_BANNED], [Level], [TotalSpent]) VALUES (4, N'fptking', N'hoanglndde150284@fpt.edu.vn', N'$2a$11$FfMYY78JjcoI4AgIeiW1tuepnqBS1n64khL1jzjp9pf1EpEx8xz8.', NULL, NULL, N'0393209437', NULL, NULL, NULL, 0, CAST(N'2025-12-02T12:57:28.407' AS DateTime), CAST(N'2025-12-02T13:44:07.917' AS DateTime), 2, 0, 0, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
GO
SET IDENTITY_INSERT [dbo].[AGENCIE_CERTIFICATES] ON 

INSERT [dbo].[AGENCIE_CERTIFICATES] ([AGENCY_ID], [ACCOUNT_ID], [COMPANYNAME], [LICENSE_FILE], [PHONE], [EMAIL], [WEBSITE], [STATUS], [REJECT_COMMENT], [REVIEW_COMMENTS], [CREATED_AT], [UPDATED_AT]) VALUES (1, 2, N'kingđẹptrai', N'kingđẹptrai', N'0393209437', N'lehoang28062001@gmail.com', N'kingđẹptrai', N'Approved', NULL, NULL, CAST(N'2025-12-02T11:58:10.850' AS DateTime), CAST(N'2025-12-02T12:00:25.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[AGENCIE_CERTIFICATES] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKINGS] ON 

INSERT [dbo].[BOOKINGS] ([ID], [USER_ID], [BOOKING_NUMBER], [COMBO_ID], [SERVICE_ID], [QUANTITY], [UNIT_PRICE], [TOTAL_AMOUNT], [ITEM_TYPE], [STATUS], [NOTES], [BOOKING_DATE], [CONFIRMED_DATE], [COMPLETED_DATE], [CREATED_AT], [UPDATED_AT]) VALUES (3, 4, N'BK202512032220437773', 3, 4, 2147483647, CAST(1000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), N'abc', N'pending', N'abc', CAST(N'2025-12-03T15:20:02.357' AS DateTime), NULL, NULL, CAST(N'2025-12-03T22:20:43.187' AS DateTime), CAST(N'2025-12-03T22:20:43.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[BOOKINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENTREACTIONS] ON 

INSERT [dbo].[COMMENTREACTIONS] ([Id], [UserId], [CommentId], [ReactionTypeId], [CreatedAt]) VALUES (1, 4, 2, 1, CAST(N'2025-12-03T18:13:22.997' AS DateTime))
INSERT [dbo].[COMMENTREACTIONS] ([Id], [UserId], [CommentId], [ReactionTypeId], [CreatedAt]) VALUES (2, 2, 2, 1, CAST(N'2025-12-03T23:18:01.353' AS DateTime))
INSERT [dbo].[COMMENTREACTIONS] ([Id], [UserId], [CommentId], [ReactionTypeId], [CreatedAt]) VALUES (3, 2, 4, 1, CAST(N'2025-12-03T23:19:35.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[COMMENTREACTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENTS] ON 

INSERT [dbo].[COMMENTS] ([ID], [POST_ID], [AUTHOR_ID], [PARENT_COMMENT_ID], [CONTENT], [CREATED_AT], [IMAGE], [UPDATED_AT], [REACTIONS_COUNT], [IS_DELETED]) VALUES (1, 1, 2, 2, N'abc', CAST(N'2025-12-03T12:29:58.157' AS DateTime), N'abc', CAST(N'2025-12-03T12:29:58.500' AS DateTime), 0, 0)
INSERT [dbo].[COMMENTS] ([ID], [POST_ID], [AUTHOR_ID], [PARENT_COMMENT_ID], [CONTENT], [CREATED_AT], [IMAGE], [UPDATED_AT], [REACTIONS_COUNT], [IS_DELETED]) VALUES (2, 2, 4, 4, N'abc', CAST(N'2025-12-03T18:10:32.180' AS DateTime), N'abc', CAST(N'2025-12-03T23:18:01.367' AS DateTime), 2, 0)
INSERT [dbo].[COMMENTS] ([ID], [POST_ID], [AUTHOR_ID], [PARENT_COMMENT_ID], [CONTENT], [CREATED_AT], [IMAGE], [UPDATED_AT], [REACTIONS_COUNT], [IS_DELETED]) VALUES (3, 1, 2, 2, N'abc', CAST(N'2025-12-03T23:16:47.057' AS DateTime), N'abc', CAST(N'2025-12-03T23:16:47.070' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[COMMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[HOST_CERTIFICATES] ON 

INSERT [dbo].[HOST_CERTIFICATES] ([CertificateId], [HOST_ID], [BUSINESS_LICENSE_FILE], [BUSINESS_NAME], [PHONE], [EMAIL], [STATUS], [REJECT_COMMENT], [REVIEW_COMMENTS], [CREATED_AT], [UPDATED_AT]) VALUES (1, 4, N'kingđẹp trai', N'kingđẹp trai', N'0393209437', N'kingđẹp trai', N'Approved', NULL, NULL, CAST(N'2025-12-02T13:43:22.773' AS DateTime), CAST(N'2025-12-02T13:44:07.913' AS DateTime))
INSERT [dbo].[HOST_CERTIFICATES] ([CertificateId], [HOST_ID], [BUSINESS_LICENSE_FILE], [BUSINESS_NAME], [PHONE], [EMAIL], [STATUS], [REJECT_COMMENT], [REVIEW_COMMENTS], [CREATED_AT], [UPDATED_AT]) VALUES (2, 5, N'abc', N'abc', N'abc', N'abc', N'Pending', NULL, NULL, CAST(N'2025-12-03T07:41:31.130' AS DateTime), CAST(N'2025-12-03T07:41:31.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOST_CERTIFICATES] OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS] ON 

INSERT [dbo].[NEWS] ([NEWS_ID], [ACCOUNT_ID], [NEWS_TITLE], [CREATED_DATE], [IMAGE], [SOCIAL_MEDIA_LINK]) VALUES (1, 1, N'abc', CAST(N'2025-12-03T14:49:32.817' AS DateTime), N'abc', N'abc')
SET IDENTITY_INSERT [dbo].[NEWS] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] ON 

INSERT [dbo].[NOTIFICATIONS] ([ID], [USER_ID], [MESSAGE], [IS_READ], [CREATED_AT], [TITLE]) VALUES (1, 2, N'User lehoang has submitted an upgrade request to Agency.', 0, CAST(N'2025-12-02T11:58:11.317' AS DateTime), N'Status update: Pending')
INSERT [dbo].[NOTIFICATIONS] ([ID], [USER_ID], [MESSAGE], [IS_READ], [CREATED_AT], [TITLE]) VALUES (2, 1, N'Agency Certificate request from lehoang has been updated to Pending.', 0, CAST(N'2025-12-02T11:58:11.400' AS DateTime), N'System update: Pending')
INSERT [dbo].[NOTIFICATIONS] ([ID], [USER_ID], [MESSAGE], [IS_READ], [CREATED_AT], [TITLE]) VALUES (3, 2, N'Your Agency Certificate upgrade request has been approved successfully.', 0, CAST(N'2025-12-02T12:00:30.830' AS DateTime), N'Status update: Approved')
SET IDENTITY_INSERT [dbo].[NOTIFICATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[OTP] ON 

INSERT [dbo].[OTP] ([ID], [USER_ID], [CODE], [EMAIL], [EXPIRATION_TIME], [IS_VERIFIED], [CREATED_AT]) VALUES (1, NULL, N'545827', N'lehoang28062001@gmail.com', CAST(N'2025-12-02T05:35:48.993' AS DateTime), 0, CAST(N'2025-12-02T05:30:48.997' AS DateTime))
INSERT [dbo].[OTP] ([ID], [USER_ID], [CODE], [EMAIL], [EXPIRATION_TIME], [IS_VERIFIED], [CREATED_AT]) VALUES (2, NULL, N'254947', N'lehoang28062001@gmail.com', CAST(N'2025-12-02T10:56:31.213' AS DateTime), 1, CAST(N'2025-12-02T10:51:31.213' AS DateTime))
INSERT [dbo].[OTP] ([ID], [USER_ID], [CODE], [EMAIL], [EXPIRATION_TIME], [IS_VERIFIED], [CREATED_AT]) VALUES (3, NULL, N'535217', N'hoanglndde150284@fpt.edu.vn', CAST(N'2025-12-02T13:01:27.373' AS DateTime), 1, CAST(N'2025-12-02T12:56:27.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[OTP] OFF
GO
SET IDENTITY_INSERT [dbo].[POSTREACTIONS] ON 

INSERT [dbo].[POSTREACTIONS] ([Id], [UserId], [PostId], [ReactionTypeId], [CreatedAt]) VALUES (3, 2, 1, 1, CAST(N'2025-12-03T12:15:30.310' AS DateTime))
INSERT [dbo].[POSTREACTIONS] ([Id], [UserId], [PostId], [ReactionTypeId], [CreatedAt]) VALUES (5, 2, 2, 5, CAST(N'2025-12-03T21:44:12.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[POSTREACTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[POSTS] ON 

INSERT [dbo].[POSTS] ([ID], [TITLE], [CONTENT], [AUTHOR_ID], [IMAGE], [CREATED_AT], [UPDATED_AT], [STATUS], [REJECT_COMMENT], [REVIEW_COMMENTS], [IS_DELETED], [COMMENTS_COUNT], [REACTIONS_COUNT], [SAVES_COUNT]) VALUES (1, N'anh king đẹp trai', N'anh king đẹp trai', 2, N'anh king đẹp trai', CAST(N'2025-12-03T12:03:07.393' AS DateTime), CAST(N'2025-12-03T23:18:46.357' AS DateTime), N'Approved', NULL, NULL, 0, 3, 1, 2)
INSERT [dbo].[POSTS] ([ID], [TITLE], [CONTENT], [AUTHOR_ID], [IMAGE], [CREATED_AT], [UPDATED_AT], [STATUS], [REJECT_COMMENT], [REVIEW_COMMENTS], [IS_DELETED], [COMMENTS_COUNT], [REACTIONS_COUNT], [SAVES_COUNT]) VALUES (2, N'abc', N'abc', 4, N'abc', CAST(N'2025-12-03T18:04:17.380' AS DateTime), CAST(N'2025-12-03T21:44:13.093' AS DateTime), N'Approved', NULL, NULL, 0, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[POSTS] OFF
GO
INSERT [dbo].[REACTION_TYPES] ([ID], [Name]) VALUES (6, N'Angry')
INSERT [dbo].[REACTION_TYPES] ([ID], [Name]) VALUES (3, N'Haha')
INSERT [dbo].[REACTION_TYPES] ([ID], [Name]) VALUES (1, N'Like')
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ID], [NAME], [DESCRIPTION]) VALUES (1, N'Admin', N'Quản trị viên hệ thống')
INSERT [dbo].[ROLES] ([ID], [NAME], [DESCRIPTION]) VALUES (2, N'Host', N'Chủ farm/Người tổ chức tour')
INSERT [dbo].[ROLES] ([ID], [NAME], [DESCRIPTION]) VALUES (3, N'Agency', N'Người dùng đặt tour cho nhiều người/Công ty')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE] ON 

INSERT [dbo].[SERVICE] ([ID], [NAME], [DESCRIPTION], [PRICE], [HOST_ID], [CREATED_AT], [UPDATED_AT], [Images], [Status], [RejectComment], [ReviewComments]) VALUES (2, N'dânng', N'dânng', CAST(100.00 AS Decimal(18, 2)), 4, CAST(N'2025-12-02T16:23:16.267' AS DateTime), CAST(N'2025-12-02T16:39:22.613' AS DateTime), N'dânng', N'Approved', NULL, NULL)
INSERT [dbo].[SERVICE] ([ID], [NAME], [DESCRIPTION], [PRICE], [HOST_ID], [CREATED_AT], [UPDATED_AT], [Images], [Status], [RejectComment], [ReviewComments]) VALUES (3, N'abc', N'abc', CAST(10000.00 AS Decimal(18, 2)), 4, CAST(N'2025-12-02T16:27:05.360' AS DateTime), CAST(N'2025-12-02T16:27:05.360' AS DateTime), N'abc', N'Pending', NULL, NULL)
INSERT [dbo].[SERVICE] ([ID], [NAME], [DESCRIPTION], [PRICE], [HOST_ID], [CREATED_AT], [UPDATED_AT], [Images], [Status], [RejectComment], [ReviewComments]) VALUES (4, N'ăn cơm nhà hưng', N'ăn cơm nhà hưng', CAST(10000.00 AS Decimal(18, 2)), 4, CAST(N'2025-12-03T11:15:43.947' AS DateTime), CAST(N'2025-12-03T11:16:23.960' AS DateTime), N'ăn cơm nhà hưng', N'Approved', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICECOMBO] ON 

INSERT [dbo].[SERVICECOMBO] ([ID], [NAME], [ADDRESS], [DESCRIPTION], [PRICE], [AVAILABLE_SLOTS], [IMAGE], [STATUS], [CANCELLATION_POLICY], [CREATED_AT], [UPDATED_AT], [HOST_ID]) VALUES (1, N'', N'', NULL, CAST(10000.00 AS Decimal(18, 2)), 10, NULL, N'open', NULL, CAST(N'2025-12-02T20:50:28.700' AS DateTime), CAST(N'2025-12-02T20:50:28.700' AS DateTime), 4)
INSERT [dbo].[SERVICECOMBO] ([ID], [NAME], [ADDRESS], [DESCRIPTION], [PRICE], [AVAILABLE_SLOTS], [IMAGE], [STATUS], [CANCELLATION_POLICY], [CREATED_AT], [UPDATED_AT], [HOST_ID]) VALUES (2, N'Default Name', N'Default Address', NULL, CAST(10000.00 AS Decimal(18, 2)), 10000, NULL, N'open', NULL, CAST(N'2025-12-02T20:56:24.650' AS DateTime), CAST(N'2025-12-02T20:56:24.650' AS DateTime), 4)
INSERT [dbo].[SERVICECOMBO] ([ID], [NAME], [ADDRESS], [DESCRIPTION], [PRICE], [AVAILABLE_SLOTS], [IMAGE], [STATUS], [CANCELLATION_POLICY], [CREATED_AT], [UPDATED_AT], [HOST_ID]) VALUES (3, N'bún thịt nướng', N'123 đà nẵng', N'abc', CAST(10000.00 AS Decimal(18, 2)), 110, N'string', N'string', N'string', CAST(N'2025-12-03T18:17:19.010' AS DateTime), CAST(N'2025-12-03T18:17:19.010' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[SERVICECOMBO] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICECOMBO_DETAIL] ON 

INSERT [dbo].[SERVICECOMBO_DETAIL] ([ID], [SERVICECOMBO_ID], [SERVICE_ID], [QUANTITY]) VALUES (1, 3, 4, 1000)
INSERT [dbo].[SERVICECOMBO_DETAIL] ([ID], [SERVICECOMBO_ID], [SERVICE_ID], [QUANTITY]) VALUES (2, 3, 4, 5)
SET IDENTITY_INSERT [dbo].[SERVICECOMBO_DETAIL] OFF
GO
/****** Object:  Index [IX_ACCOUNTS_ROLE_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNTS_ROLE_ID] ON [dbo].[ACCOUNTS]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__161CF724757E8893]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__ACCOUNTS__161CF724757E8893] ON [dbo].[ACCOUNTS]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AGENCIE_CERTIFICATES_ACCOUNT_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_AGENCIE_CERTIFICATES_ACCOUNT_ID] ON [dbo].[AGENCIE_CERTIFICATES]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BOOKING_COUPONS_COUPON_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BOOKING_COUPONS_COUPON_ID] ON [dbo].[BOOKING_COUPONS]
(
	[COUPON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BookingPromotion]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_BookingPromotion] ON [dbo].[BOOKING_COUPONS]
(
	[BOOKING_ID] ASC,
	[COUPON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BOOKINGS_COMBO_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BOOKINGS_COMBO_ID] ON [dbo].[BOOKINGS]
(
	[COMBO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BOOKINGS_SERVICE_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BOOKINGS_SERVICE_ID] ON [dbo].[BOOKINGS]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BOOKINGS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_BOOKINGS_USER_ID] ON [dbo].[BOOKINGS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentReactions_CommentID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentReactions_CommentID] ON [dbo].[COMMENTREACTIONS]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_COMMENTREACTIONS_ReactionTypeId]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_COMMENTREACTIONS_ReactionTypeId] ON [dbo].[COMMENTREACTIONS]
(
	[ReactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__COMMENTR__ABB381B18C8E7178]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__COMMENTR__ABB381B18C8E7178] ON [dbo].[COMMENTREACTIONS]
(
	[UserId] ASC,
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_AuthorID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AuthorID] ON [dbo].[COMMENTS]
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostID] ON [dbo].[COMMENTS]
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_COUPONS_HOST_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_COUPONS_HOST_ID] ON [dbo].[COUPONS]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_COUPONS_SERVICECOMBO_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_COUPONS_SERVICECOMBO_ID] ON [dbo].[COUPONS]
(
	[SERVICECOMBO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COUPONS__AA1D4379B4900E43]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__COUPONS__AA1D4379B4900E43] ON [dbo].[COUPONS]
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOST_CERTIFICATES_HOST_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOST_CERTIFICATES_HOST_ID] ON [dbo].[HOST_CERTIFICATES]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MESSAGES_RECEIVER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MESSAGES_RECEIVER_ID] ON [dbo].[MESSAGES]
(
	[RECEIVER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MESSAGES_SENDER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_MESSAGES_SENDER_ID] ON [dbo].[MESSAGES]
(
	[SENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NEWS_ACCOUNT_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NEWS_ACCOUNT_ID] ON [dbo].[NEWS]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOTIFICATIONS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_NOTIFICATIONS_USER_ID] ON [dbo].[NOTIFICATIONS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OTP_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_OTP_USER_ID] ON [dbo].[OTP]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAYMENTS_BOOKING_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAYMENTS_BOOKING_ID] ON [dbo].[PAYMENTS]
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAYMENTS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAYMENTS_USER_ID] ON [dbo].[PAYMENTS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostReactions_PostID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostReactions_PostID] ON [dbo].[POSTREACTIONS]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POSTREACTIONS_ReactionTypeId]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_POSTREACTIONS_ReactionTypeId] ON [dbo].[POSTREACTIONS]
(
	[ReactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__POSTREAC__8D29EA4C21AF919E]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__POSTREAC__8D29EA4C21AF919E] ON [dbo].[POSTREACTIONS]
(
	[UserId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AuthorID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AuthorID] ON [dbo].[POSTS]
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POSTSAVES_PostId]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_POSTSAVES_PostId] ON [dbo].[POSTSAVES]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PostSave_UserPost]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PostSave_UserPost] ON [dbo].[POSTSAVES]
(
	[AccountId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__REACTION__737584F61492C36B]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__REACTION__737584F61492C36B] ON [dbo].[REACTION_TYPES]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REACTIONS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_REACTIONS_USER_ID] ON [dbo].[REACTIONS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REQUEST_SUPPORTS_COMBO_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_REQUEST_SUPPORTS_COMBO_ID] ON [dbo].[REQUEST_SUPPORTS]
(
	[COMBO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REQUEST_SUPPORTS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_REQUEST_SUPPORTS_USER_ID] ON [dbo].[REQUEST_SUPPORTS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REVIEWS_BOOKING_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_REVIEWS_BOOKING_ID] ON [dbo].[REVIEWS]
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_REVIEWS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_REVIEWS_USER_ID] ON [dbo].[REVIEWS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLES__D9C1FA000635C206]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__ROLES__D9C1FA000635C206] ON [dbo].[ROLES]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SERVICE_HOST_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SERVICE_HOST_ID] ON [dbo].[SERVICE]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SERVICECOMBO_HOST_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SERVICECOMBO_HOST_ID] ON [dbo].[SERVICECOMBO]
(
	[HOST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SERVICECOMBO_DETAIL_SERVICE_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SERVICECOMBO_DETAIL_SERVICE_ID] ON [dbo].[SERVICECOMBO_DETAIL]
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SERVICECOMBO_DETAIL_SERVICECOMBO_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SERVICECOMBO_DETAIL_SERVICECOMBO_ID] ON [dbo].[SERVICECOMBO_DETAIL]
(
	[SERVICECOMBO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SUPPORT_RESPONSES_RESPONDER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SUPPORT_RESPONSES_RESPONDER_ID] ON [dbo].[SUPPORT_RESPONSES]
(
	[RESPONDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SUPPORT_RESPONSES_SUPPORT_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SUPPORT_RESPONSES_SUPPORT_ID] ON [dbo].[SUPPORT_RESPONSES]
(
	[SUPPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SYSTEM_LOGS_USER_ID]    Script Date: 12/7/2025 8:57:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_SYSTEM_LOGS_USER_ID] ON [dbo].[SYSTEM_LOGS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((0)) FOR [IS_BANNED]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ((0.00)) FOR [TotalSpent]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[BOOKING_COUPONS] ADD  DEFAULT (getdate()) FOR [APPLIED_AT]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [BOOKING_DATE]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[COMMENTREACTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT ((0)) FOR [REACTIONS_COUNT]
GO
ALTER TABLE [dbo].[COMMENTS] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT ((0)) FOR [USAGE_COUNT]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[COUPONS] ADD  DEFAULT ((0)) FOR [RequiredLevel]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[MESSAGES] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[NEWS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT ((0)) FOR [IS_VERIFIED]
GO
ALTER TABLE [dbo].[OTP] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT (getdate()) FOR [PAYMENT_DATE]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[POSTREACTIONS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [COMMENTS_COUNT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [REACTIONS_COUNT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT ((0)) FOR [SAVES_COUNT]
GO
ALTER TABLE [dbo].[POSTSAVES] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[REACTIONS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT ('Pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT ('open') FOR [STATUS]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO] ADD  DEFAULT (getdate()) FOR [UPDATED_AT]
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL] ADD  DEFAULT ((1)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SYSTEM_LOGS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ROLES] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [FK_ACCOUNTS_ROLES]
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES]  WITH CHECK ADD  CONSTRAINT [FK__AGENCIE_C__Accou__3B75D760] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[AGENCIE_CERTIFICATES] CHECK CONSTRAINT [FK__AGENCIE_C__Accou__3B75D760]
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING_C__BOOKI__5EBF139D] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS] CHECK CONSTRAINT [FK__BOOKING_C__BOOKI__5EBF139D]
GO
ALTER TABLE [dbo].[BOOKING_COUPONS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKING_C__COUPO__5FB337D6] FOREIGN KEY([COUPON_ID])
REFERENCES [dbo].[COUPONS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_COUPONS] CHECK CONSTRAINT [FK__BOOKING_C__COUPO__5FB337D6]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKINGS__COMBO___59FA5E80] FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK__BOOKINGS__COMBO___59FA5E80]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKINGS__SERVIC__59FA5E81] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK__BOOKINGS__SERVIC__59FA5E81]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK__BOOKINGS__USER_I__59063A47] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK__BOOKINGS__USER_I__59063A47]
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENTRE__Comme__74794A92] FOREIGN KEY([CommentId])
REFERENCES [dbo].[COMMENTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTREACTIONS] CHECK CONSTRAINT [FK__COMMENTRE__Comme__74794A92]
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENTRE__React__756D6ECB] FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS] CHECK CONSTRAINT [FK__COMMENTRE__React__756D6ECB]
GO
ALTER TABLE [dbo].[COMMENTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENTRE__UserI__73852659] FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTREACTIONS] CHECK CONSTRAINT [FK__COMMENTRE__UserI__73852659]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENTS__AUTHOR__787EE5A0] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK__COMMENTS__AUTHOR__787EE5A0]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENTS__POST_I__778AC167] FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK__COMMENTS__POST_I__778AC167]
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD  CONSTRAINT [FK__COUPONS__HOST_ID__52593CB8] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[COUPONS] CHECK CONSTRAINT [FK__COUPONS__HOST_ID__52593CB8]
GO
ALTER TABLE [dbo].[COUPONS]  WITH CHECK ADD  CONSTRAINT [FK__COUPONS__SERVICE__534D60F1] FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[COUPONS] CHECK CONSTRAINT [FK__COUPONS__SERVICE__534D60F1]
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES]  WITH CHECK ADD  CONSTRAINT [FK__HOST_CERT__HostI__35BCFE0A] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[HOST_CERTIFICATES] CHECK CONSTRAINT [FK__HOST_CERT__HostI__35BCFE0A]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK__MESSAGES__RECEIV__02084FDB] FOREIGN KEY([RECEIVER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK__MESSAGES__RECEIV__02084FDB]
GO
ALTER TABLE [dbo].[MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK__MESSAGES__SENDER__02084FDA] FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGES] CHECK CONSTRAINT [FK__MESSAGES__SENDER__02084FDA]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [FK__NEWS__AccountId__123EB7A3] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [FK__NEWS__AccountId__123EB7A3]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK__NOTIFICAT__USER___6EF57B66] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK__NOTIFICAT__USER___6EF57B66]
GO
ALTER TABLE [dbo].[OTP]  WITH CHECK ADD  CONSTRAINT [FK__OTP__USER_ID__300424B4] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[OTP] CHECK CONSTRAINT [FK__OTP__USER_ID__300424B4]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK__PAYMENTS__BOOKIN__6477ECF3] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK__PAYMENTS__BOOKIN__6477ECF3]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_ACCOUNTS_UserId] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_ACCOUNTS_UserId]
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__POSTREACT__PostI__6DCC4D03] FOREIGN KEY([PostId])
REFERENCES [dbo].[POSTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POSTREACTIONS] CHECK CONSTRAINT [FK__POSTREACT__PostI__6DCC4D03]
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__POSTREACT__React__6EC0713C] FOREIGN KEY([ReactionTypeId])
REFERENCES [dbo].[REACTION_TYPES] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS] CHECK CONSTRAINT [FK__POSTREACT__React__6EC0713C]
GO
ALTER TABLE [dbo].[POSTREACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__POSTREACT__UserI__6CD828CA] FOREIGN KEY([UserId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTREACTIONS] CHECK CONSTRAINT [FK__POSTREACT__UserI__6CD828CA]
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD  CONSTRAINT [FK__POSTS__AUTHOR_ID__73BA3083] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTS] CHECK CONSTRAINT [FK__POSTS__AUTHOR_ID__73BA3083]
GO
ALTER TABLE [dbo].[POSTSAVES]  WITH CHECK ADD  CONSTRAINT [FK__POSTSAVES__Accou__671F4F74] FOREIGN KEY([AccountId])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[POSTSAVES] CHECK CONSTRAINT [FK__POSTSAVES__Accou__671F4F74]
GO
ALTER TABLE [dbo].[POSTSAVES]  WITH CHECK ADD  CONSTRAINT [FK__POSTSAVES__PostI__681373AD] FOREIGN KEY([PostId])
REFERENCES [dbo].[POSTS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POSTSAVES] CHECK CONSTRAINT [FK__POSTSAVES__PostI__681373AD]
GO
ALTER TABLE [dbo].[REACTIONS]  WITH CHECK ADD  CONSTRAINT [FK__REACTIONS__USER___7D439ABD] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REACTIONS] CHECK CONSTRAINT [FK__REACTIONS__USER___7D439ABD]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD  CONSTRAINT [FK__REQUEST_S__COMBO__09A971A2] FOREIGN KEY([COMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] CHECK CONSTRAINT [FK__REQUEST_S__COMBO__09A971A2]
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS]  WITH CHECK ADD  CONSTRAINT [FK__REQUEST_S__USER___08B54D69] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_SUPPORTS] CHECK CONSTRAINT [FK__REQUEST_S__USER___08B54D69]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK__REVIEWS__BOOKING_I__68487DD7] FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKINGS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK__REVIEWS__BOOKING_I__68487DD7]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK__REVIEWS__USER_ID__693CA210] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK__REVIEWS__USER_ID__693CA210]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK__SERVICE__HOST_ID__403A8C7D] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK__SERVICE__HOST_ID__403A8C7D]
GO
ALTER TABLE [dbo].[SERVICECOMBO]  WITH CHECK ADD  CONSTRAINT [FK__SERVICECO__HOST___45F365D3] FOREIGN KEY([HOST_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO] CHECK CONSTRAINT [FK__SERVICECO__HOST___45F365D3]
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__SERVICECO__SERVI__49C3F6B7] FOREIGN KEY([SERVICECOMBO_ID])
REFERENCES [dbo].[SERVICECOMBO] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL] CHECK CONSTRAINT [FK__SERVICECO__SERVI__49C3F6B7]
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK__SERVICECO__SERVI__4AB81AF0] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[SERVICECOMBO_DETAIL] CHECK CONSTRAINT [FK__SERVICECO__SERVI__4AB81AF0]
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD  CONSTRAINT [FK__SUPPORT_R__RESPO__0E6E26BF] FOREIGN KEY([RESPONDER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES] CHECK CONSTRAINT [FK__SUPPORT_R__RESPO__0E6E26BF]
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES]  WITH CHECK ADD  CONSTRAINT [FK__SUPPORT_R__SUPPO__0D7A0286] FOREIGN KEY([SUPPORT_ID])
REFERENCES [dbo].[REQUEST_SUPPORTS] ([ID])
GO
ALTER TABLE [dbo].[SUPPORT_RESPONSES] CHECK CONSTRAINT [FK__SUPPORT_R__SUPPO__0D7A0286]
GO
ALTER TABLE [dbo].[SYSTEM_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_SYSTEM_LOGS_ACCOUNTS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ID])
GO
ALTER TABLE [dbo].[SYSTEM_LOGS] CHECK CONSTRAINT [FK_SYSTEM_LOGS_ACCOUNTS]
GO
USE [master]
GO
